// Variables
@import 'variables';
//Vuetify
@import '~vuetify/dist/vuetify.min.css';
@import '~@mdi/font/scss/materialdesignicons';

// REWRITE VUETIFY DEFAULT STYLES

.theme--light.v-chip--active:before, .theme--light.v-chip--active:hover:before, .theme--light.v-chip:focus:before {
    opacity: 0!important;
}

.theme--light.v-chip:hover:before {
    background: #e1d3c4!important;
    color: #453B31!important;
}

.theme--light.v-chip:not(.v-chip--active) {
    background: none!important;
    color: #E9E9E9!important;
    opacity: 1!important;

}

.theme--light.v-chip--active {
    background: #e1d3c4!important;
    color: #453B31!important;
    opacity: 1!important;
}

.v-chip-group .v-slide-group__content {
    padding: 0!important;
}

.v-chip-group .v-chip {
    margin: 0!important;
}

// VUETIFY BROWN THEME

.body {
    background-color: #F7EFE3;
    background-image: url('/dist/images/back.gif');
    background-repeat: repeat-x;
    margin: 0;
}

.v-application .bhead a {
    color: #E9E9E9!important;
    text-decoration: none!important;
}

.v-application .categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    padding: 2px 1px;
    font-weight: bold;
}

.v-application .category {
    padding: 5px 0 5px 15px;
    font-size: 12px;
    border: 1px solid #888;
}

.v-application .category a {
    color: black!important;
    text-decoration: none;
}

.v-application .category a:hover {
    font-size: 13px;
}

.v-application .category:hover {
    border-color: #af9673;
}

// END


.vue-btn {
    background-color: #a49484!important;
    color: white!important;
    border: 1px #888 solid!important;
}

.vue-input-tag-wrapper {
    background-color: #F3E7E0!important;
    color: #453B31!important;
    border: 1px #888 solid!important;
    transition: background 0.5s ease;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    border-radius: 0.25rem!important;
}

.vue-input-tag-wrapper .input-tag {
    padding: 4px 26px 4px 10px!important;
    background-color: #41b883!important;
    border: 1px #888888 solid!important;
    color: white!important;
}

.vue-input-tag-wrapper .input-tag .remove {
    color: black!important;
}

.block {
    background-color: #f0e3cf;
    box-shadow: #999999 0 0 10px;
    padding: 1px;
}

.head {
    border-top: 2px solid #a49484;
    color: #E9E9E9;
    font-weight: bold;
    padding: 7px;
    background-image: linear-gradient(#705d4a, #9e886d);
}

.bhead {
    border-top: 2px solid #a49484;
    padding: 7px;
    font-weight: bold;
    color: #E9E9E9;
    background-image: linear-gradient(#705d4a, #9e886d);
}

.bbody {
    padding: 5px;
}

.item {
    -webkit-transition: background-color 0.5s ease-out;
    border: 1px solid #494949;
}

.info2 {
    padding: 0 0 0 7px;
    width: 100%;
}

.info2 a {
    color: #453B31;
    text-decoration: none;
}

.info2 a:hover {
    color: #786654;
    text-decoration: none;
}

.info2 a:visited {
    color: #9c8773;
}

.thumb {
    height: 153px;
}

.body {
    padding: 5px 10px;
}

.description {
    font-size: 0.8rem;
    height: 80px;
}

.bar {
    font-size: 0.8rem;
    background-color: #af9673;
    color: #f9f9f9!important;
    border: 1px solid #494949;
    padding: 2px;
    text-align: center;
}

#top {
    font-size: 24px;
    padding: 15px 0;
}

.about_movie {
    display: flex;
}

.about_movie_title {
    font-size: 13px;
    background-color: #af9673;
    color: #f9f9f9!important;
    border: 1px solid #494949;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.field {
    width: 45%;
}

.form-control {
    background-color: #F3E7E0;
    color: #453B31;
    border: 1px #888 solid;
    transition: background 0.5s ease;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
}

.form-control:hover {
    background-color: #f8f1ed;
}

.form-control:focus {
    background-color: #F3E7E0;
    border-color: #666;
    box-shadow: none;
    border-color: none;
}

// button 1
.btn-custom {
    font-weight: bold;
    background-color: #a49484;
    color:white;
    border: 1px #888888 solid;
}

.btn-custom:hover {
    color: white;
    background-color: #8d7a68;
}

.btn-custom:focus {
    box-shadow:none;
    background-color: #8d7a68;
}

// button 2
.btn-custom2 {
    font-weight: bold;
    background-color: #F7EFE3;
    color:black;
    border: 1px #888888 solid;
}

.btn-custom2:hover {
    color: black;
    background-color: #8d7a68;
}

.btn-custom2:focus {
    box-shadow:none;
    background-color: #8d7a68;
}

.nav-link {
    padding: 0.1rem 0.5rem;
}

.nav-pills .nav-link.active, .nav-link:hover, .nav-pills .show > .nav-link {
    color: #453B31;
    background-color: #e1d3c4;
    transition: background 0.4s ease, color 0.4s ease;
    -webkit-transition: background 0.4s ease, color 0.4s ease;
    -moz-transition: background 0.4s ease, color 0.4s ease; 
    -o-transition: background 0.4s ease, color 0.4s ease;
}

.gen {
    color: #786654;
    font-size: 0.8rem;
}

.gen * {
    color: #786654;
    font-size: 0.8rem;
    text-decoration: none;
}

.item:hover {
    background-color: #F7EFE3;
}